<!DOCTYPE html>
<html>
	<head>
		<title>Fetch Demo</title>    

	</head>
	<body>
		<h1>Fetch Demo</h1>
		<form id="rest-form" >
		  <div class="input-group">
			<label for="user-name">User-Name:</label>
			<input type="text" id="user-name" name="user-name">
		  </div>
		  <div class="input-group">
		   <label for="name-exists">Response:</label>
		   <input type="text" id="name-exists" name="name-exists" readonly>
		  </div>
		  <button type="submit" id="submit-button">Fetch</button>
		</form>
		<script src="static/app.js"></script>
	</body>
</html>